**/__pycache__/
**/.ipynb_checkpoints/
**/*.log

test.py

models/pre-trained/
models/post-trained/
tests/temp/
tests/test_results.json

datasets/raw_datasets/
datasets/total/
datasets/yolo_datasets/
datasets/label_statistics.json

DataProcessor.exe
ui.exe
TrainAndTest.exe